<script src="/socket.io/socket.io.js"></script>

<script src="client.js" defer></script>

<label for="nicknameText">Nickname</label>
<input type="text" id="nicknameInp" value="">
<input type="submit" id="nicknameSubmit" value="submit">

<br><br>

<input type="submit" id="option0" class="inpbtn red" value="option0" hidden>
<input type="submit" id="option1" class="inpbtn green" value="option1" hidden>
<input type="submit" id="option2" class="inpbtn blue" value="option2" hidden>
<input type="submit" id="option3" class="inpbtn yellow" value="option3" hidden>